package {{.NS}}

import com.tibco.dovetail.core.runtime.compilers.AppCompiler
import com.tibco.dovetail.core.runtime.compilers.App
import com.tibco.dovetail.core.runtime.trigger.ITrigger

object {{.App}}Impl {

    val app = AppCompiler.compileApp({{.App}}Impl::class.java.getResourceAsStream("app.json"))
    fun getTrigger(name: String): ITrigger? {
        return app.getTriggers()!![name]
    }
}